<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Register User</h1>
    <form id="registerForm">
        <div class="register-input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" required>
        </div>

        <div class="register-input-group">
            <label for="student_id">Student ID:</label>
            <input type="text" id="student_id" required>
        </div>

        <div class="register-input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" required>
        </div>

        <!-- 上传图片和注册按钮在同一行 -->
        <div class="file-register-group">
            <input type="file" id="image" accept="image/*" onchange="updateFileName()" style="display: none;">
            <button type="button" onclick="document.getElementById('image').click()">Upload Photo</button>
            <span id="fileName">No file selected</span>
            <button type="button" onclick="registerUser()">Register</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>

